.sidewidth {
    width: calc(100% - 100px);
}

.css-i4bv87-MuiSvgIcon-root {
    height: 2rem;
    width: 2rem;
}

.scroolbar::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.scroolbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

/* Handle */
.scroolbar::-webkit-scrollbar-thumb {
    background: #3b32df;
    border-radius: 5px;
}

/* Handle on hover */
.scroolbar::-webkit-scrollbar-thumb:hover {
    background: #6627c5;
}
/*location*/
.hover-border:hover {
cursor: pointer;
/* border: 2px solid white;
width: 250px;
height: 80px; */
} 


/* For location popup */
      
      .popup-container {
        /* display: none; */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
      }
      .popup {
        position: absolute;
        top: 480px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 25%;
      }
      .small-text {
        font-size: 0.8rem;
      }
      .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 1.2rem;
        color: #999;
      }
      .close-button:hover {
        color: #333;
      }

      .icon-container {
        display: flex;
        flex-direction: row;
         /* Default gap */
      }
      
      @media (max-width: 1200px) {
        .icon-container {
          gap: 9px; /* Adjust gap for larger screens */
        }
      }
      @media (max-width: 1440px) {
        .icon-container {
          gap: 11px; /* Adjust gap for larger screens */
        }
      }
      @media (max-width: 2560px) {
        .icon-container {
          gap: 14px; /* Adjust gap for larger screens */
        }
      }
      
      @media (max-width: 992px) {
        .icon-container {
          gap: 0px; /* Adjust gap for medium screens */
        }
      }
      
      @media (max-width: 768px) {
        .icon-container {
          gap: -1px; /* Adjust gap for smaller screens */
        }
      }
      
      @media (max-width: 576px) {
        .icon-container {
          gap: 2px; /* Adjust gap for extra small screens */
        }
      }
      @media (max-width: 768px) {
        .toolbar-custom {
          gap: 25px !important; /* Adjust this value as needed */
        }
      }


/*  profile section styling*/
.edit-button {
  position: absolute;
  top: 1rem;
  right: 6rem; /* Adjusted right margin to create space for review button */
  background-color: transparent;
  color: #000000;
  padding: 0.25rem 0.75rem;
  border-radius: 0.7rem;
  cursor: pointer;
  border: 1px solid grey;
  transition: background-color 0.3s ease;
  font-size: 0.875rem;
  z-index: 10;
}

.edit-button:hover {
  background-color: #e4e4e4;
  color: rgb(0, 0, 0);
}

.review-button {
  position: absolute;
  top: 1rem;
  right: 1rem; 
  background-color: #ffd814;
  color: #030303;
  padding: 0.25rem 0.75rem;
  border-radius: 0.7rem;
  cursor: pointer;
  border: 1px solid #fcd200;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 0.875rem;
  z-index: 10;
}

.review-button:hover {
  background-color: #dfbc0d;
  color: rgb(0, 0, 0);
   border: 1px solid #fcd200;
}

.profile-container {
  position: relative;
  width: 60%;
}

.hidden {
  display: none;
}
.profile-content {
  margin-left: 2rem; 
}