#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: 'Merriweather',serif,"Helvetica Neue",Helvetica,Arial,sans-serif !important;    
}
/* 'GFS Didot', serif */